<%- include('layout/header')  %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4 pt-custom">
            <div class="card shadow rounded-15">
                <div class="card-header bg-blue-custom rounded-top">
                    <h3 class="text-white text-center mt-2">Add new book</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/books/add" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="bookName">Book Title</label>
                            <input type="text" name="bookName" class="form-control form-control-lg" placeholder="Titanic" required />
                        </div>
                        <div class="mb-3">
                            <label for="author">Book Author</label>
                            <input type="text" name="author" class="form-control form-control-lg" placeholder="David" required />
                        </div>
                        <div class="mb-3">
                            <label for="image">Book Image Link</label>
                            <input type="text" name="image" class="form-control form-control-lg" placeholder="Enter image url" required />
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label mb-0">Book Description</label>
                            <input type="text" name="description" class="form-control form-control-lg" placeholder="This book is about..." required />
                        </div>
                        <div class="mb-3 text-center">
                            <input type="submit" name="submit" value="Submit" class="btn btn-success-custom btn-padding btn-lg rounded-30 text-white" />
                            <a href="/books" class="btn btn-danger btn-lg btn-padding mt-2 rounded-30">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer')  %>